.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  display: flex;
  height: 2rem;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0.5rem 0;
  color: var(--error-red);
  font-size: 0.9rem;
  text-align: center;
}

.my-number {
  align-self: flex-start;
  padding: 0.75rem;
  font-size: 0.95rem;
}
