:root {
  --border-radius: 0.5rem;
  --main-color: #0070e8;
  --secondary-color: #9dcdf7;
  --accent-color: #e79107;
  --background-color: #f8f9fa;
  --background-grey: #eee;
  --error-red: #de0000;
  --green: #01d316;
  --yellow: #f1da29;
  --decline-red: #f81616;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  width: 100%;
  min-width: 400px;
  height: 600px;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  width: 400px;
  height: 100%;
  min-height: 600px;
  flex-direction: column;
  background-color: var(--background-color);
}

/* p {
  font-size: 1rem;
} */
